# .secrets/ kubeconfig | kubeadminpassword | openshift specific ssh keys
.secrets/openshift-key*
.secrets/kubeadminpassword
.secrets/kubeconfig*
.secrets/pull-secret*

# Mac local filesystem thingy
.DS_Store

# Goland Jetbrains
.idea

# Single Node ISOs
iso/*.iso

